<div class="contaienr">
  <div class="row">
    <div class="col-md-2">
      <div class="header">
        <div class="profile-container">
          <img src="../../assets/image/app/ssqworks/pic.png" alt="profile picture">
          <h1>光头强</h1>
          <h3>木材加工师</h3>
        </div>

        <div class="contact-container">
          <ul>
            <li><i class="fa fa-phone"></i>13123456789</li>
            <li><i class="fa fa-qq"></i>568596445</li>
            <li><i class="fa fa-envelope"></i>568596445@qq.com</li>
            <li><i class="fa fa-map-marker"></i>北京市海淀区</li>
          </ul>
        </div>
        <div class="nav-container">
          <h3>求职简介</h3>
          <p class="tip">这是一个求职简历，这里可以放一些简短的文字。但最好不要太长，几十个字差不多就行了。</p>
          <ul>
            <li>
              <a routerLink="./introduction" routerLinkActive="active">个人简介</a>
            </li>
            <!--<li>
              <a routerLink="./flat" routerLinkActive="active">平面作品</a>
            </li>
            <li>
              <a routerLink="./logo" routerLinkActive="active">logo设计</a>
            </li>-->

            <li>
              <a routerLink="./banner" routerLinkActive="active">banner</a>
            </li>
            <li>
              <a routerLink="./logo" routerLinkActive="active">logo</a>
            </li>
            <li>
              <a routerLink="./businesscard" routerLinkActive="active">名片</a>
            </li>
            <li>
              <a routerLink="./website" routerLinkActive="active">上线网站</a>
            </li>
            <li>
              <a routerLink="./webpage" routerLinkActive="active">网页</a>
            </li>
            <li>
              <a routerLink="./materials" routerLinkActive="active">物料</a>
            </li>
            <li>
              <a routerLink="./webapp" routerLinkActive="active">移动APP</a>
            </li>
            <li>
              <a routerLink="./exhibitionboard" routerLinkActive="active">易拉宝</a>
            </li>
          </ul>
        </div>


      </div>
    </div>
    <div class="col-md-10">
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>