<div class="container">
  <div class="row clearfix">
    <div class="col-md-3">
      <ul class="affix">
        <li class="font">
          <a scrollTo href="#font">Font</a>
          <ul>
            <li class="source-code-pro">
              <a scrollTo href="#navbar-source-code-pro">Source Code Pro</a>
            </li>
            <li class="helvetica-neue">
              <a scrollTo href="#navbar-helvetica-neue">Helvetica Neue</a>
            </li>
          </ul>
        </li>
        <li class="color">
          <a cancelDefEvent href="#color">Color</a>
        </li>
        <li class="icon">
          <a cancelDefEvent href="#icon">Icon</a>
          <ul>
            <li class="iconmonstr">
              <a scrollTo href="#navbar-iconmonstr">Iconmonstr</a>
            </li>
            <li class="find-icons">
              <a scrollTo href="#navbar-find-icons">Find Icons</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div id="font" class="source-item">
        <div class="page-header">
          <h1>Font <small>some fonts</small></h1>
        </div>
        <h2 id="navbar-source-code-pro">Source Code Pro</h2>
        <p>这是一款Adobe制作的字体，适用于系统使用。</p>
        <img src="../../assets/image/app/resources/font/SourceCodePro.png" alt="Source Code Pro">
        <h2 id="navbar-helvetica-neue">Helvetica Neue</h2>
        <p>这是一款适合网页展示的字体</p>
        <img src="../../assets/image/app/resources/font/HelveticaNeue.png" alt="Helvetica Neue">
      </div>

      <div id="icon" class="source-item">
        <div class="page-header">
          <h1>Icon <small>some icons</small></h1>
        </div>
        <h2 id="navbar-iconmonstr">Iconmonstr</h2>
        <p>Iconmonstr专门提供黑白两色的矢量图标资源。</p>
        <a href="https://iconmonstr.com/">
          <img src="../../assets/image/app/resources/font/SourceCodePro.png" alt="Source Code Pro">
        </a>
        <h2 id="navbar-find-icons">Find Icons</h2>
        <p>从这里你可以找到黑白/彩色、扁平/3D的图标。</p>
        <a href="http://iconarchive.com/">
          <img src="../../assets/image/app/resources/font/HelveticaNeue.png" alt="Helvetica Neue">
        </a>
        <h2 id="navbar-icon-archive">Icon Archive</h2>
        <p>该网站的评级系统可以帮助你决定使用哪些图标比较好。</p>
        <a href="https://iconmonstr.com/">
          <img src="../../assets/image/app/resources/font/SourceCodePro.png" alt="Source Code Pro">
        </a>
        <h2 id="navbar-icon-gallery">Icon Gallery</h2>
        <p>该网站提供一个简单的过滤选项来帮助你寻找正确的图标。</p>
        <a href="https://icongal.com/">
          <img src="../../assets/image/app/resources/font/SourceCodePro.png" alt="Source Code Pro">
        </a>
      </div>
    </div>
  </div>