<header FigletDirective>
  <!--<nav class="navbar navbar-static-top navbar-default">
    <div class="container">
      <a class="navbar-brand" href="#" (click)="goHome($event)" go-home>
        <img class="logo" src="../assets/image/main/logo.png" alt="darkcloud.top" />
      </a>
      <ul class="nav navbar-nav">
        <li *ngFor="let navconfig of navconfigs" class="nav-item" [class.active]="navconfig.isDefaultActive" [routerLink]="navconfig.routePath"
          [routerLinkActive]="navconfig.routeActive">
          <a class="nav-link" href="#" (click)="onNavLink($event)">{{navconfig.innerText}}</a>
          </li>
      </ul>
    </div>
  </nav>-->
  <nav class="navbar navbar-static-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-box" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
        <a class="navbar-brand" href="#">
          <img class="img-responsive" src="../assets/image/main/logo.png" alt="darkclouds">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="nav-box">
        <ul class="nav navbar-nav navbar-right">
          <!--<li class="active" routerLink="home" routerLinkActive="active"><a href="#" (click)="onNavLink($event)">home <span class="sr-only">(current)</span></a></li>
          <li><a href="./app/example/example.html">示例代码</a></li>
          <li><a href="./app/updatelog/updatelog.html">更新日志</a></li>
          <li><a href="./app/download/download.html">下载中心</a></li>-->

          <li *ngFor="let navconfig of navconfigs" class="nav-item" [class.active]="navconfig.isDefaultActive" [routerLink]="navconfig.routePath"
            [routerLinkActive]="navconfig.routeActive">
            <a class="nav-link" href="#" (click)="onNavLink($event)">{{navconfig.innerText}}</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main FigletDirective>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
  <button type="button" class="btn btn-default" id="btn-top">返回顶部</button>
</main>
<footer FigletDirective>
  <div class="footer-copyright">
    <div class=" container">
      <div class="row">
        <div class="row-md-12">
          <div class="text-center">
            <p>©&nbsp;2017&nbsp;darkclouds.top&nbsp;&nbsp;京ICP备 16067694号</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>