<div class="introduction" [@flyInRight]>
  <div class="int-item" id="job">
    <div class="contaniner">
      <div class="row">
        <div class="col-md-3">
          <span>
            <div class="title">教育背景</div>
          </span>
        </div>
        <div class="col-md-9">
          <span>
          <div class="time">2011.09 - 2015.07</div>
          <div class="org">黑龙江东方学院</div>
          <div class="job">电子商务</div>
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="int-item" id="job">
    <div class="contaniner">
      <div class="row">
        <div class="col-md-3">
          <span>
            <div class="title">工作经历</div>
          </span>
        </div>
        <div class="col-md-9">
          <span>
          <div class="time">2014.09 - 2015.08</div>
          <div class="org">中国网库</div>
          <div class="job">平面设计</div>
          </span>
          <section>
            <h4>工作内容：</h4>
            <p>1. 企业店铺，网站装修设计和实操装修；</p>
            <p>2. 维护合作企业微信公众号，微信公众号配图； </p>
            <p>3. 公司总体产品广告设计； </p>
            <p>4. 公司展览会总体展示样板、海报、室外广告的规划设计； </p>
          </section>
          <hr>
          <span>
          <div class="time">2016.01 - 2017.02</div>
          <div class="org">山天大蓄知识产权代理股份有限公司</div>
          <div class="job">UI设计</div>
          </span>
          <section>
            <h4>工作内容：</h4>
            <p>1.负责4个企业网站和1个电子商务网站的整体UI设计和具体设计实施，包括整体版面设计、活动广告及相关图片的制作以及更新；</p>
            <p>2.根据网站体验需求和前端工程师深度交流，实现前端UI的样式以及动态交互体验；</p>
            <p>3.设计移动端H5页面，包括产品的用户界面的整体风格、视觉设计、交互设计；</p>
            <p>4.提出创意构想，设计企业产品logo；</p>
            <p>5.配合新媒体、网站等活动做室内外和线上的广告设计；</p>
            <p>6.集团公司的总体广告产品设计，包括公司折页、名片、易拉宝等物料设计；</p>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="int-item" id="skill">
    <div class="contaniner">
      <div class="row">
        <div class="col-md-3">
          <span>
            <div class="title">自我评价</div>
          </span>
        </div>
        <div class="col-md-9">
          <p>1.具有扎实的设计功底，富有创意和想法，专注于UI设计，对设计富有激情和爱好。</p>
          <p>2.从事2年以上平面设计、网页UI设计工作，拥有较为丰富的工作经验，可胜任多方 面的设计工作。</p>
          <p>3.项目经验丰富，设计制作4个企业展示网站，1个电子商务类网站以及室内外和线上 广告宣传图。</p>
          <p>4.线上设计经验丰富，常年配合新媒体、网站、SEO等线上营销工作。</p>
          <p>5.有良好的个人独立工作能力和团队协作精神，吃苦耐劳。</p>
        </div>
      </div>
    </div>
  </div>
</div>