

.int-item{
    margin: 15px 0;
    box-sizing: border-box;
    border-bottom: 1px dashed #6980B0;   

    & div.time, div.org, div.job{
        float: left;
        width: 33%;
        //font-weight: bold;
        font-size: 18px;
    }
    & .title{
        font-size: 24px;
        font-weight: bold;
    }
    & span{
        line-height: 50px;
    }
    & hr{
        border: 1px dashed #6980B0;
    }
}