<div class="container" [@flyInLeft]>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="">
              <img alt="300x200" src="../../../assets/image/app/ssqworks/flat/stdx/山天大蓄-微信.jpg" />
            </a>
            <div class="caption">
              <h3>
                山天大蓄
              </h3>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="">
              <img alt="300x200" src="../../../assets/image/app/ssqworks/flat/jx/金蓄-微信.jpg" />
            </a>
            <div class="caption">
              <h3>
                金蓄
              </h3>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="">
              <img alt="300x200" src="../../../assets/image/app/ssqworks/flat/tl/天理易拉宝---改.jpg" />
            </a>
            <div class="caption">
              <h3>
                天理
              </h3>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>