<div class="container" [@flyInRight]>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="">
              <img alt="300x200" src="../../../assets/image/app/ssqworks/banner/banner-专利五一.jpg" />
            </a>
            <div class="caption">
              <h3>
                banner1
              </h3>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="">
              <img alt="300x200" src="../../../assets/image/app/ssqworks/banner/banner-智盛---师资.jpg" />
            </a>
            <div class="caption">
              <h3>
                banner2
              </h3>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="">
              <img alt="300x200" src="../../../assets/image/app/ssqworks/banner/banner优惠.jpg" />
            </a>
            <div class="caption">
              <h3>
                banner3
              </h3>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id
                dolor id nibh ultricies vehicula ut id elit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>